svg:hover {
  cursor: pointer;
}

img {
  border-radius: 5px;
}

.button__50 {
  border-radius: 20px;
}

.card--img {
  height: 70px;
  width: 70px;
}

.image__profile {
  object-fit: cover;
  border-radius: 50%;
}

.tweet--form {
  width: 90%;
}

.block--divider {
  height: 15px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.126);
  border-radius: 5px;
}
